<% if logged_in? %>

  <%= current_user.name %>
  <%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
  <li><%= link_to '新規登録', signup_path %></li>
  <li><%= link_to 'ログイン', login_path %></li>
<% end %>
